@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

    header {
        width: 100%;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: center;
    }
    header .navbar {
        width:1280px;
        height:110px;
        display: flex;
        justify-content: space-between;
        align-items : center;
        background-color: transparent;
        border-bottom:#777;
    }

    header .navbar h1 a {
        padding : 20px;
    }

    header .navbar .nav_menu {
        display: flex;
        align-items : center;
    }

    header .navbar .nav_menu li a {
        display: block;
        font-size: 20px;
        color: #555;
        padding: 20px 20px;
        transition: all 0.5s;
    }

    header .navbar .nav_menu li a:hover {
        background: #555;
        color: #fff;
    }

    figure {
        width: 100%;
        height: 100vh;
        background-image: url(../static/img/main_bg.jpg);
        background-position: left bottom;
        background-size: cover;
        margin:0px;


    }

    figure .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;

    }
    figure .inner h1 {
        font: normal 50px 'Nanum Myeongjo' ;
        color: #000;
        text-align: center;
        margin-bottom: 50px;
    }
    figure .inner p {
        font: 40px/1 'Nanum Myeongjo';
        color: #888;
        margin:150px 0px 30px;
        text-align: center;
    }

    figure .profile {
        width: 100%;
        height:200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    figure .profile1 {
        position: relative;
        padding: 20px;
        margin:20px 20px;
        width : 538px;
        height : 210px;
        background-color: rgba(216,216,216,0.7);
    }

    figure .profile2 {
        position: relative;
        padding: 20px;
        margin:20px 20px;
        width : 538px;
        height : 210px;
        background-color: rgba(216,216,216,0.7);
    }


    figure .logogrey {
        font: 30px 'Noto Sans KR';
        float:left;
        margin-right: 10px;
    }


    figure .name {
        font: 30px 'Noto Sans KR';
        float:left;
        margin-right: 10px;
    }

    figure .grade {
        font: 25px 'Noto Sans KR', sans-serif;
        float:left;
        margin-top: 8px;
    }

    figure .lawer {
        position: absolute;
        bottom:0px;
        right:0px;
    }


    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .sc_bg {
        display: flex;
        background-color: rgb(169, 174, 189);
    }

    section .inner {
        width: 1280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /*블랙ver*/

    /* section .inner h1 {
        font: bold 30px 'Nanum Myeongjo' ;
        color: #555;
        text-align: left;
        margin-bottom: 50px;
        padding-left: 20px;
    }

    section .inner h2 {
        font: bold 25px 'Nanum Myeongjo' ;
        color: #888;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 20px;
    } */



    section .inner h1 {
        font: bold 30px 'Nanum Myeongjo' ;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-bottom: 50px;
        padding-left: 20px;
    }

    section .inner h2 {
        font: bold 25px 'Nanum Myeongjo' ;
        color: rgb(216, 216, 216);
        text-align: left;
        margin-bottom: 20px;
        padding-top:90px;
        padding-left: 20px;
    }




    section .inner .wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        padding-bottom: 90px;
    }

    section .inner .wrap article {
        width: 290px;
        height: 275px;
        margin: 0px 20px 20px 0px;
        border: 2px solid rgb(218, 218, 218);

    }

    section .inner .wrap article h3 {
        font: 23px 'Noto Sans KR', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
    }
    section .inner .wrap article .pic {
        width: 100px;
        height: 100px;
        margin: 40px auto;
        position: relative;
        overflow: hidden;
    }
    section .inner .wrap article .pic img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


    section .inner2 {
        width: 1280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section .inner2 h1 {
        font: bold 30px 'Nanum Myeongjo' ;
        color: #555;
        text-align: left;
        margin-bottom: 50px;
        padding-left: 20px;
    }

    section .inner2 h2 {
        font: bold 25px 'Nanum Myeongjo' ;
        color: #888;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-top:90px;
    }


    section .inner2 .wrap2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section .inner2 .wrap2 .card1 {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        border: 1px rgb(218, 218, 218) solid;
    }


    section .inner2 .card1 .imgbox{
        /* height:auto; */
        overflow: hidden;
    }


    section .inner2 .card1 .imgbox img{
        width:500px;
        object-fit: cover;

    }

    section .inner2 .card1 .textbox {
        display: flex;
        justify-content: center;
        /* align-content: center; */
        flex-direction: column;
        font-family:'Noto Sans KR', sans-serif;
        padding : 30px 0px 0px 30px;
        /* flex:6; */

    }

    section .inner2 .card1 .textbox h3 {
        margin-bottom: 20px;
        font-size: 23px;
        font-weight: 600;
    }

    section .inner2 .card1 .textbox p {
        font-size: 1.2rem;

    }

    section .inner2 .card1 .textbox p span {
        font-weight: 600;
        color:rgb(19, 73, 153)

    }


    .contact {
        width: 1180px;
        margin: 0px auto;

    }
    .contact h1 {
        font: bold 30px/1 'Nanum Myeongjo' ;
        text-align: center;
    }


    .contact .post-form .form-group {
        width : 700px;
        margin: auto;
    }

    .contact .post-form .privacy-agree {
        margin: 50px auto;
        text-align: center;
    }


    .contact .post-form .btn-primary{
        width: 400px;
        display: block;
        margin: auto;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 25px;
    }


    footer {
        width: 100%;
        background: #333;
        padding: 100px 0px;
        border-top: 1px solid #888;
        margin-top: 200px;
    }
    footer .inner {
        width: 1180px;
        margin: 0px auto;
    }
    footer .inner .upper {
        width: 100%;
        border-bottom: 1px solid #777;
        padding-bottom: 20px;
    }
    footer .inner .upper::after {

        content: "";
        display: block;
        clear: both;
    }
    footer .inner .upper h1 {
        float: left;
        font: bold 24px/1 "arial";
        color: #666;
    }
    footer .inner .upper ul {
        float: right;
    }
    footer .inner .upper ul li {
        float: left;
        margin-left: 20px;
    }
    footer .inner .upper ul li a {
        font: bold 14px/1 "arial";
        color: #666;
    }
    footer .inner .lower {
        width: 100%;
        padding-top: 20px;
    }
    footer .inner .lower address {
        width: 100%;
        font: 12px/1.3 "arial";
        color: #777;
        margin-bottom: 20px;
    }
    footer .inner .lower p {
        width: 100%;
        font: 12px/1 "arial";
        color: #777;
    }

    @media screen and (max-width:768px) and (min-width:480px){

        figure {
            width: 100%;
            height: 1024px;
            background-image: url(../img/main_bg.jpg);
            background-position: left bottom;
            background-size: cover;
            margin:0px;
        }


        figure .inner h1 {
            font: normal 45px 'Nanum Myeongjo' ;
            color: #000;
            text-align: center;
            margin-bottom: 90px;
            padding : 0px 20px 0px;
        }
        figure .inner p {
            font: 35px/1 'Nanum Myeongjo';
            color: #888;
            margin:200px 0px 30px;
            text-align: center;
        }
        section .inner2 {
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        section .inner2 .card1 .imgbox img{
            width: 100%
            /* object-fit: cover; */
        }
    }
