<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>euno</title>
    <link rel="icon" href="favicon.ico" type="static/x-icon">
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='ie.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1><a href="#"><img src="static/img/logo.png" alt="로고" width="100px" height="45px"></a></h1>

            <ul class="nav_menu">
                <li><a href="#">상담신청</a></li>
                <li><a href="tel:1833-7615">1833-7615</a></li>
            </ul>
        </nav>
    </header>

        <figure>

            <div class="inner">
                <p>LAWFIRM EUN-O</p>
                <h1>끝까지 책임지는 전문 변호사</h1>
            </div>


            <div class="profile">
            <div class="profile1">
                    <div class=logogrey>
                        <img src="static/img/logogrey.png" alt="로고" width="35px" height="51px">
                    </div>
                    <div class="name">김동현</div>
                    <div class="grade">/ 대표변호사</div>
                    <div class="lawer">
                        <img src="static/img/lawer1.png" alt="김동현" width="147px" height="210px">
                    </div>
                    <div class="write">
                        <img src="static/img/write1.png" alt="손글씨" width="344px" height="100px">
                    </div>
            </div>
            <div class="profile2">
                    <div class=logogrey>
                        <img src="static/img/logogrey.png" alt="로고" width="35px" height="51px">
                    </div>
                    <div class="name">한아름</div>
                    <div class="grade">/ 전담변호사</div>
                    <div class="lawer">
                        <img src="static/img/lawer2.png" alt="로고" width="147px" height="210px">
                    </div>
                    <div class="write">
                        <img src="static/img/write2.png" alt="손글씨" width="344px" height="100px">
                    </div>
            </div>
        </div>

    </figure>

    <section class="sc_bg">

        <div class="inner">

            <h2>LAW SERVICE</h2>

            <h1>은오 법률서비스</h1>

            <div class="wrap">
                <article>
                    <h3>민사</h3>
                    <div class="pic">
                        <img src="static/img/icon/law.PNG" alt="1번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>형사</h3>
                    <div class="pic">
                        <img src="static/img/icon/security.PNG" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>개인회생/파산</h3>
                    <div class="pic">
                        <img src="static/img/icon/money.PNG" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>법인회생/파산</h3>
                    <div class="pic">
                        <img src="static/img/icon/bank.PNG" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>이혼</h3>
                    <div class="pic">
                        <img src="static/img/icon/lovebreak.png" alt="1번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>부동산</h3>
                    <div class="pic">
                        <img src="static/img/icon/building.png" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>상속</h3>
                    <div class="pic">
                        <img src="static/img/icon/mortgage.png" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>

                <article>
                    <h3>사기</h3>
                    <div class="pic">
                        <img src="static/img/icon/fraud.png" alt="2번째 콘텐츠 이미지">
                    </div>
                </article>
            </div>
        </div>
    </section>



    <section>
        <div class="inner2">

            <h2>LAWFIRM-EUNO</h2>
            <h1>법률사무소 은오만의 차별화</h1>

            <div class="wrap2">

                <div class="card1">

                    <div class="imgbox">
                        <img src="static/img/pic1.jpg" alt="1번째 콘텐츠 이미지">
                    </div>

                    <div class="textbox">
                        <h3>1. 전문변호사</h3>
                        <p>사건에 따라 전문분야 변호사가 직접 관리 합니다.<br>
                                은오 법률사무소에선 <span>최다 30,000건 이상</span>의<br>
                                법률 상담에 의한 노하우로 가장 유리한<br>
                                법적 대응을 시원하게 제시합니다.</p>
                    </div>

                </div>

                <div class="card1">

                    <div class="imgbox">
                        <img src="static/img/pic2.jpg" alt="1번째 콘텐츠 이미지">
                    </div>

                    <div class="textbox">
                        <h3>2. 맞춤/신속 상담</h3>
                        <p>의뢰인의 급한 문제를 해결하는데<br>
                            꼭 복잡한 절차가 필요한 것은 아닙니다.<br>
                            각 상황에 맞는 <span>신속하고 정확한 상담</span>을 진행하여<br>
                            의뢰인의 답답함을 해결해 드리겠습니다.<br>
                            </p>
                    </div>

                </div>

                <div class="card1">
                    <div class="imgbox">
                        <img src="static/img/pic3.jpg" alt="1번째 콘텐츠 이미지">
                    </div>

                    <div class="textbox">
                        <h3>3. 신뢰 우선</h3>
                        <p>전문적인 법률인만큼 의뢰인은 정확한 정보에<br>
                            취약합니다. 따라서, 의뢰인보다 법률사무소의 입장에<br>
                            유리하게 사건을 진행하는 경우가 종종 있습니다.<br>
                            은오는 <span>의뢰인의 편에서 끝까지 책임</span>지겠습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="contact">
            <h5 class="my-3 border-bottom pb-2">상담 신청</h5>
            <form method="post" class="post-form my-3">

                {{ form.name.label }}
                {{ form.name(class="form-control") }}

                {{ form.number.label }}
                {{ form.number(class="form-control") }}

                <button type="submit" class="btn btn-primary">신청하기</button>
            </form>
        </section>

        <footer>
            <div class="inner">
                <div class="upper">
                    <h1>법률사무소 은오</h1>
                </div>

                <div class="lower">
                    <address>
                        서울시 서초구 서초중앙로 43, 로얄타워 4층<br>
                        TEL : 1833-7615
                    </address>
                    <p>
                        2021 법률사무소 은오 &copy; copyright all right reserved.
                    </p>
                </div>
            </div>
        </footer>
    <script>
        var ratio = window.devicePixelRatio;
        if(ratio >= 2){
            document.querySelector('.pc').style.dispaly='none';
        } else {
            document.querySelector('.mobile').style.dispaly='none';
        }
    </script>
</body>

</html>